body {
  margin: 20px;
  font-family: "Quicksand", sans-serif;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #519df4;
}

.heading {
  padding: 10px 10px 0;
  display: inline-flex;
  max-height: 100px;
  max-width: 900px;
}

.heading .weather-info {
  display: flex;
  margin: 10px 40px 0 0;
}

.heading .temp-degree {
  position: relative;
  top: -35px;
  font-weight: bolder;
  font-size: 50px;
  margin: 50px 0 0;
}
.heading .degrees {
  margin: 0 0 0 10px;
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  max-width: 30px;
}

.degrees a {
  text-decoration: none;
  padding: 0px 2px;
  color: black;
}

.degrees .slice {
  margin: 17px 5px 0;
  font-size: 24px;
  color: #519df4;
}

.heading .main-data {
  max-width: 300px;
  margin: 0 10px 0 20px;
  text-align: center;
}

.heading > .main-data > .current_city {
  margin: 15px 10px 5px;
  font-size: 40px;
}

.heading > .main-data > .date-data {
  display: inline;
  margin: 15px 10px 0px;
  font-size: 17px;
}

.heading .description {
  margin: 5px 10px 0px;
  text-transform: capitalize;
}

.choose_city {
  display: flex;
  margin: 10px 0 10px 0px;
  max-width: 700px;
}

.choose_city .temp-data {
  margin: 40px 10px 0 70px;
  text-align: left;
}

.temp-data p {
  margin: 0;
}

.choose_city .search {
  padding: 40px 0 20px;
  margin-inline: auto;
}

.choose_city input {
  padding: 10px 10px;
  border: 2px solid #519df4;
  color: #519df4;
  width: 190px;
}

input::placeholder {
  color: #519df4;
  font-size: 17px;
}

.choose_city .btn {
  padding: 8px 10px;
  margin: 0 5px;
  color: white;
  background-color: #519df4;
  border: 2px solid #519df4;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  font-size: 17px;
}

.btn:hover {
  border: 2px solid #519df4;
  color: #519df4;
  background-color: white;
}

/* .btn-current {
  background: goldenrod;
  color: white;
  padding: 8px 10px;
  margin: 0;
  border: 2px solid goldenrod;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  font-size: 17px;
}

.btn-current:hover {
  border: 2px solid goldenrod;
  color: goldenrod;
  background-color: white;
} */

hr {
  background-color: #519df4;
  height: 2px;
  border-radius: 50px;
  width: 500px;
}

.weather {
  padding: 0 0 20px;
}

.daygroup {
  display: inline-block;
  padding: 0px 12px;
}

.daygroup h5 {
  font-size: 20px;
  margin: 10px 0px;
}

.daygroup p {
  font-size: 20px;
}

.link {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
}
